configservice/.mvn/
departmentservice/.mvn/
eurekaservice/.mvn/
gatewayservice/.mvn/
userservice/.mvn/

configservice/.gitignore
departmentservice/.gitignore
eurekaservice/.gitignore
gatewayservice/.gitignore
userservice/.gitignore

configservice/HELP.md
departmentservice/HELP.md
eurekaservice/HELP.md
gatewayservice/HELP.md
userservice/HELP.md

!configservice/src/test/**/target/
!departmentservice/src/test/**/target/
!eurekaservice/src/test/**/target/
!gatewayservice/src/test/**/target/
!userservice/src/test/**/target/


!configservice/src/main/**/target/
!departmentservice/src/main/**/target/
!eurekaservice/src/main/**/target/
!gatewayservice/src/main/**/target/
!userservice/src/main/**/target/


.vscode/


note.txt